/*---------- Global ----------*/

:root {
  --main-color: #289bde;
  --main-light-color: #f4fafd;
  --dark-first: #1d1d1d;
  --dark-second: #4a4a4a;
  --dark-third: #777777;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

/*---------- Global ----------*/

/*---------- COMMON ----------*/

.text-first {
  color: var(--dark-first);
}

.text-second {
  color: var(--dark-second);
}

.text-third {
  color: var(--dark-third);
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-main-light {
  background-color: var(--main-light-color);
}

.fs-18 {
  font-size: 18px;
}

/*  BUTTONS */

.btn-main {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid transparent;
  transition: 100ms all ease-in-out;
}

.btn-outlined {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 100ms all ease-in-out;
}

.btn-white {
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid transparent;
  transition: 100ms all ease-in-out;
}

.btn-main:hover {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.btn-outlined:hover {
  background-color: var(--main-color);
  color: #fff;
  border: 1px solid transparent;
}

.btn-white:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/*---------- COMMON ----------*/

/*---------- HERO ----------*/

.carousel-item {
  background-color: #1d1d1d;
}

.carousel-item img {
  opacity: 0.3;
}

.carousel-heading {
  font-size: 4rem;
}

@media only screen and (max-width: 1200px) {
  .carousel-heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 992px) {
  .carousel-heading {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .custom-carousel-caption {
    width: 80%;
  }
  .carousel-heading {
    font-size: 1.3rem;
  }
  .carousel-text {
    font-size: 12px;
  }
  .carousel-btn {
    padding: 8px 20px;
  }
}
/*---------- HERO ----------*/

/*---------- ACCORDION ----------*/
.accordion-button:not(.collapsed) {
  background-color: rgba(40, 155, 222, 0.1);
  color: var(--dark-second);
}

/*---------- ACCORDION ----------*/

/*---------- FOOTER ----------*/
footer {
  background-color: var(--dark-first);
}

.social {
  width: 40px;
  height: 40px;
  background-color: #242424;
}
/*---------- FOOTER ----------*/
